body {
  margin: 0;
}

li {
  list-style-position: outside;
  text-indent: -1.5em;
  margin-left: 1.5em;
}

a {
  background-color: transparent;
  text-decoration: None;
  color: black;
}

span {
  display: table-cell;
  vertical-align: middle;
}

.welcome-photo {
  width: 15%;
}

.welcome {
  font: 2em Avenir, sans-serif;
}

.bar {
  right: 1%;
  top: 0;
  position: fixed;
  z-index: 3;
}

.icon {
  width: 25%;
  float: right;
  filter: invert(100%);
}

.icon:hover {
  filter: invert(0%);
}

.icon-ul {
  display: table;
  table-layout: fixed;
  height: 100vh;
}

.icon-list {
  text-align: left;
  display: table-row;
}

.white {
  color: white;
}
